@model IEnumerable<Firma.Data.Data.Sklep.Towar>

        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="card h-100 shadow-sm rounded border-0">
                    <img src="@item.FotoUrl" class="card-img-top p-3" alt="Monitor">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">@item.Nazwa</h5>
                <!-- <p class="card-text text-muted mb-2">@item.Opis </p> -->
                        <p><strong>Ilość:</strong> @item.Ilosc</p>
                        <p><strong>Cena:</strong> @item.Cena</p>
                        <a href="#" class="btn  w-100 mt-2">Zamow</a>

                <a asp-controller="Home" asp-action="Szczegoly" asp-route-id_towaru="@item.idTowar" class="btn w-100 mt-2">Szczegóły</a>

                    </div>
                </div>
            </div>
        }

