@model IEnumerable<Firma.Intranet.Models.Sklep.ZamowienieTowar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zamowienie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Towar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zamowienie.KodPocztowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Towar.FotoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdZamowienieTowar">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdZamowienieTowar">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdZamowienieTowar">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
