@model Firma.Intranet.Models.Sklep.Zamowienie

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Zamowienie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamowienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uzytkownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uzytkownik.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kraj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyZrealizowane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyZrealizowane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAnulowane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAnulowane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SposobPlatnosci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SposobPlatnosci)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdZamowienia" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
